@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

#preloader{
    background: #000 url("images/Untitled\ design\ \(1\).gif") no-repeat center;
    background-size: 20%;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.logo{
    width: 350px;
    height: 100px;
    background: url("images/smlogo.jpeg") no-repeat ;
    background-size: 20%;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    
}

/* header part */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #ff0000;
    
}

.main-nav li {
    padding: 0 5%;
}

.main-nav li:first-child{
    padding: 0 1%;
    color: white;
    margin-right: 300px;
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

/* .main-header {
    
} */

.band-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "UnifrakturMaguntia", serif;
    font-weight: normal;
    color: white;
}
.maut{
    font-family: "UnifrakturMaguntia", serif;
    color: red;
}
.band-name-large {
    font-size: 8em;
    background-image: url("images/concert.gif");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .6);
}



/* video section */
.buredin h1{
    font-size: 5rem;
    margin: 0;
}

.buredin p{
    font-size: x-large;
}

.video{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    flex-wrap: wrap;
}

hr{
    width: 100%;
}

.mautvid{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* tours section */
.upcoming{
    font-size: 4rem;
}

.events{
    text-align: center;
    color:rgba(0, 0, 0, .8);

}

.alltour{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.tour{
    width: 520px;
    background-color: #ffffffe0;
    border-radius: 0.60rem;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    font-size: 3rem;
}
.tourcontent{
    padding: 30px;
    line-height: 1.3;
}


.stadiums{
    width: 200px;
    height: 200px;
    border-radius: 2rem;
}



.location{
    margin-bottom: -1rem;
}
button {
    background-color: #f8f8f8;
    color: black;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 8px;
    width: 300px;
    height: 45px;
    transition: 0.3s;
    
  }
  
  button:hover {
    background-color: #423c3c;
    color: #fff;
  }
  
/* about section */

.container {
    margin: 0 auto;
    padding: 0 1.5em;
    max-width: 1200px;
    padding: 20px;
}

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 6em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 50%;
}

/* footer */

.main-footer {
    background-color: red;
    color: white;
    padding: .25em 0;
    margin-top: 40px;
}


.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

/* store section  */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.music-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;

}

.section-header {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20px;
    margin: 0;
}

.item{
    width: 520px;
    background-color: #ffffffe0;
    border-radius: 0.60rem;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    font-size: 3rem;
    height: 520px;
}

.item img, .cart-item img {
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 23px 159px;
}

.item-info, .cart-header, .cart-total, .cart-actions {
    text-align: center;
    display: block;
}

.price {
    font-size: 1.2em;
    color: #28a745;
    font-family: auto;
}
.Album{
    font-size: 3rem;
    display: flex;
    justify-content: center;

}

.Album strong{
    font-weight: 100;
}


.storeTitle {
    /* background-color: #f1f1f1; */
    padding: 0;
    text-align: center;
    font-size: 5rem;
  }

.storeTitle h2{
    margin: 0;
}


